<div>
  <form method="post" action="/imdb/search">
    <span>Search:</span>
    <select name="search">
      <option value="all">All</option>
      <option value="title">Titles</option>
      <!--<option value="episode">TV Episodes</option>-->
      <!--<option value="my">My Movies</option>-->
      <option value="names">Names</option>
      <!--<option value="companies">Companies</option>-->
      <option value="keyword">Keywords</option>
      <option value="character">Characters</option>
      <!--<option value="video">Video</option>-->
      <!--<option value="quotes">Quotes</option>-->
      <!--<option value="bio">Bios</option>-->
      <!--<option value="plot">Plots</option>-->
      <!--<option class="advancedSearch" value="/search">
        Advanced Search»</option>-->
    </select>
    <input type="text" name="query"/>
    <input type="submit" value="Search"/>
  </form>
</div>
